langgraph
langchain
langchain-core
langsmith
pydantic
fastapi
sqlalchemy
psycopg[pool]
psycopg-pool
python-dotenv
httpx
uvicorn
python-jose[cryptography]
passlib
bcrypt==4.0.1
python-multipart
fastapi-sqlalchemy
pyjwt
pydantic-settings
psycopg2-binary
python-box
langchain-groq
langchain-google-genai
langgraph-checkpoint-postgres
PyYAML
boto3
pandas
selenium
requests
pgvector
langchain-huggingface
langchain-community
langchain-classic
alembic
